:root {
    --editor-max-height: 90vh;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.dark-mode {
    background-color: #181818;
    color: #fff;
}

h1 {
    margin: 0;
    margin-bottom: 10px;
}

.notes-list-container {
    width: 10%;
    overflow-y: auto;
    height: var(--editor-max-height);
    padding: 10px;
    font-size: 16px;
    border: 0px;
    border-radius: 4px;
    margin-right: 10px;
}

.editor-container {
    display: flex;
    flex-direction: row;
    width: 90%;
}

#markdown-editor {
    resize: none;
    margin-right: 5px;
    color: #000;
}

.dark-mode #markdown-editor {
    color: #fff;
}
#markdown-editor,
#markdown-preview {
    width: 100%;
    height: var(--editor-max-height);
    padding: 10px;
    font-size: 16px;
    border: 0px;
    background-color: #eee;
    border-radius: 4px;
    margin: 0;
}

.dark-mode #markdown-editor,
.dark-mode #markdown-preview {
    background-color: #202020;
}

#markdown-preview table,
th,
td {
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
    padding: 5px;
}

#markdown-preview {
    overflow-y: auto;
    max-height: var(--editor-max-height);
    margin-left: 5px;
}

#markdown-preview p {
    margin-top: 0;
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97vw;
    height: 97vh;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#notes-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

#notes-list-header h1 {
    margin: 0;
}

#notes-list-header button {
    display: inline-block;
    aspect-ratio: 1; /* Make the element square */
    height: 30px; /* Make the height adjust to the width */
    width: auto; /* Make the width fit the content */
    font-size: 18px;
    font-weight: bold;
    background-color: #ddd;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
}

.dark-mode #notes-list-header button {
    color: #fff;
    background-color: #202020;
}

#notes-list-header button:hover {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.dark-mode #notes-list-header button:hover {
    background-color: #202020;
    box-shadow: 0px 0px 10px rgba(255,255,255,0.5);
}

#notes-list-header #dark-mode-switch {
    background-color: #181818;
}

#notes-list-header #dark-mode-switch:hover {
    background-color: #202020;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.dark-mode #notes-list-header #dark-mode-switch {
    background-color: #fff;
}

.dark-mode #notes-list-header #dark-mode-switch:hover {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(255,255,255,0.5);
}

#notes-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.note-link {
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 0px;
    background-color: #eee;
    border-radius: 4px;
    position: relative;
    margin-bottom: 5px;
    cursor: pointer;
}

.dark-mode .note-link {
    color: #fff;
    background-color: #202020;
}

.note-link.note-selected {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.dark-mode .note-link.note-selected {
    background-color: #181818;
    box-shadow: 0px 0px 10px rgba(255,255,255,0.5);
}

.note-link:hover {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.dark-mode .note-link:hover {
    background-color: #181818;
    box-shadow: 0px 0px 10px rgba(255,255,255,0.5);
}

.note-title {
    font-weight: bold;
    font-size: 18px;
    margin-top: 0;
    word-break: break-word;
    white-space: pre-wrap; 
}

.note-date {
    font-size: 14px;
    color: #666;
}

.note-delete {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    right: 10px;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border-radius: 5px;
    background-color: #f01;
    border: 0px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    display: none;
    color: #fff;
}

.note-link:hover .note-delete {
    display: block;
}

#note-delete-confirmation-popup-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#note-delete-confirm, #note-delete-cancel {
    background-color: #eee;
    border: 0px;
    border-radius: 5px;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}

#note-delete-cancel:hover {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}


#note-delete-confirm {
    background-color: #f01;
    color: #fff;
    cursor:pointer;
}

.note-delete:hover, #note-delete-confirm:hover {
    color: #a10;
    background-color: #f42;
    box-shadow: 0px 0px 10px rgba(155,0,10,0.5);
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s;
}

.popup.show {
    display: flex;
    opacity: 1;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popup-content h2 {
    margin-top: 0;
}
